<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ecddfd3cd.js" crossorigin="anonymous"></script>
    <title>Cart</title>
    <link rel="stylesheet" href="../Css/globalcss.css">

    <link rel="stylesheet" href="../Css/cart.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="../HOMEPAGE.html">
                <img src="../ASET/LOGO.png" alt="">
            </a>
            <div class="nav-links">
                <ul>   
                    <li><a href="../HOMEPAGE.html">HOME</a></li>
                    <li><a href="./SHOP.html">SHOP</a></li>
                    <li><a href="../HOMEPAGE.html">MAGAZINE</a></li>
                    <li><a href="./CART.html"><i class="fa-solid fa-cart-arrow-down"></i></a></li>
                    <li><a href="./LOGIN.html"><i class="fa-solid fa-circle-user"></i>LOGIN</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <section class="konten">
        <h3>Cart</h3>
        <p>Keranjang belanjaan kamu kosong nih....<br>Ayo belanja sekarang....</p>
        <div class="box">
            <img src="../ASET/cart_final.png" alt="">
        </div>
        <div class="Button">
            <a href="../HOMEPAGE.html">Telusuri Produk</a>
        </div>
    </section>
    <hr>
    <section class="youmayalsolike">
        <h3>You may also like</h3>
    </section>
    <div class="box">
        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../ASET/THE_VIEW.png" class="gambarkonten" alt=""></div>
                <div class="textdesc">The View</div>  
                <div class="harga">185.000 -> 74.000</div>
            </div>
    
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../ASET/LONE_RANGER.png" class="gambarkonten"alt=""></div>
                <div class="textdesc">Lone Ranger</div>  
                <div class="harga">185.000 -> 74.000</div>
            </div>
    
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../ASET/EPIC_BATTLE.png" class="gambarkonten" alt=""></div>
                <div class="textdesc">Epic Battle</div>  
                <div class="harga">185.000 -> 74.000</div>
            </div>
    
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../ASET/SCRMS_EYES.png" class="gambarkonten" alt=""></div>
                <div class="textdesc">SCRMS EYES</div>  
                <div class="harga">185.000 -> 74.000</div>
            </div>
        </div>
    </div>
    <div class="Button2">
        <a href="./SHOP.html">View More</a>
    </div>

    <section class="footer">
        <div class="row">
            <div class="footer-content">
                <img src="../ASET/LOGOBIRU.png" alt="">
            </div>
            <div class="footer-content">
                <h3>CAN WE HELP YOU?</h3>
                <p>Contact Us</p>
                <p>Size Guide</p>
                <p>How to Shop</p>
                <p>FAQ</p>
                <p>Return Policy</p>
                <p>Terms and Conditions</p>
                <p>Terms of size</p>
                <p>Refund Policy</p>
            </div>
            <div class="footer-content">
                <h3>MAIN MENU</h3>
                <p>HOME<p>
                <p>SHOP<p>
                <p>THE SEX PISTOL EDITION<p>
                <p>MAGAZINE<p>
                <br>
            </div>
            <div class="footer-content">
                <h3>SIGN UP AND SAVE</h3>
                <p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>
                <div class="email-box">
                    <div class="mail">
                        <i class="fa-solid fa-envelope"></i>
                    <a href="./Register.html">Enter your email</a><br>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>