<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Register.css">
    <link rel="stylesheet" href="../Css/globalcss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ecddfd3cd.js" crossorigin="anonymous"></script>
    <title>HOMEPAGE</title>
</head>
<body>
    <section class="header">
        <nav>
            <a href="../HOMEPAGE.html">
                <img src="../ASET/LOGO.png" alt="">
            </a>
            <div class="nav-links">
                <ul>   
                    <li><a href="../HOMEPAGE.html">HOME</a></li>
                    <li><a href="./SHOP.html">SHOP</a></li>
                    <li><a href="../HOMEPAGE.html">MAGAZINE</a></li>
                    <li><a href="./CART.html"><i class="fa-solid fa-cart-arrow-down"></i></a></li>
                    <li><a href="./LOGIN.html"><i class="fa-solid fa-circle-user"></i>LOGIN</a></li>
                </ul>
            </div>
        </nav>
    </section>
    
    <section class="main">
        <div class="container">
            <div class="title">LOGIN</div>
            <form action="#" id="form">
                <div class="user-details">
                    <div class="input-box">
                        <label class="details">Username</label>
                        <input type="text" id="username" placeholder="Enter your name">
                        <small>Error messages</small>
                    </div>
                    <div class="input-box">
                        <label class="details">Email</label>
                        <input type="email" id="email" placeholder="Enter your email">
                        <small>Error messages</small>
                    </div>
                    <div class="input-box">
                        <label class="details">Password</label>
                        <input type="password" id="password1" placeholder="Enter your password">
                        <small>Error messages</small>
                    </div>
                    <div class="button">
                        <button>Login</button>
                        <small> <a href="./Register.html"><u>Create account</u></a> </small>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="footer">
        <div class="row">
            <div class="footer-content">
                <img src="../ASET/LOGOBIRU.png" alt="">
            </div>
            <div class="footer-content">
                <h3>CAN WE HELP YOU?</h3>
                <p>Contact Us</p>
                <p>Size Guide</p>
                <p>How to Shop</p>
                <p>FAQ</p>
                <p>Return Policy</p>
                <p>Terms and Conditions</p>
                <p>Terms of size</p>
                <p>Refund Policy</p>
            </div>
            <div class="footer-content">
                <h3>MAIN MENU</h3>
                <p>HOME<p>
                <p>SHOP<p>
                <p>THE SEX PISTOL EDITION<p>
                <p>MAGAZINE<p>
                <br>
            </div>
            <div class="footer-content">
                <h3>SIGN UP AND SAVE</h3>
                <p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>
                <div class="email-box">
                    <div class="mail">
                        <i class="fa-solid fa-envelope"></i>
                    <a href="./Register.html">Enter your email</a><br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../Js/Login_script.js"></script>
</body>
</html>