<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/shop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ecddfd3cd.js" crossorigin="anonymous"></script>
    <title>SHOP</title>
    <link rel="stylesheet" href="../Css/globalcss.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="../HOMEPAGE.html">
                <img src="../ASET/LOGO.png" alt="">
            </a>
            <div class="nav-links">
                <ul>   
                    <li><a href="../HOMEPAGE.html">HOME</a></li>
                    <li><a href="./SHOP.html">SHOP</a></li>
                    <li><a href="../HOMEPAGE.html">MAGAZINE</a></li>
                    <li><a href="./CART.html"><i class="fa-solid fa-cart-arrow-down"></i></a></li>
                    <li><a href="./LOGIN.html"><i class="fa-solid fa-circle-user"></i>LOGIN</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <div class="konten">
        <div class="kotakgede">
            <div class="gambarproduk1">
                <img src="../ASET/DEIMOS_R1.png" class="gmbrproduk"alt="">
                <img src="../ASET/DEIMOS_R11.png" class="gmbrproduk"alt="">
                <img src="../ASET/DEIMOS_R12.png" class="gmbrproduk"alt="">
                <img src="../ASET/DEIMOS_R13.png" class="gmbrproduk"alt="">
            </div>
            <div class="gambarproduk2">
                <img src="../ASET/DEIMOS_R1.png" class="gambarprodukgede"alt="">
            </div>
            <div class="descproduk">
                <div class="text1">
                    <div class="judul">Deimos R1</div>
                    <div class="code">FN-BAG-C02S/NON</div>
                    <div class="harga">270.000-> 110.000</div>
                </div>
                <div class="text2">
                    <div class="format">
                        <div class="judul2">
                            <div>COLOR</div>
                            <div> - </div>
                            <div>BLACK</div>
                        </div>
                    </div>

                    <div class="format">
                        <div class="formatt">
                            <div class="kotakwarna"></div>
                        </div>
                    </div>
                    
                    <div class="format">
                        <div class="size">SIZE</div>
                        <div class="NON"> NON</div>
                    </div>
                    
                    <div class="format">
                        <div class="quantity">Quantity</div>
                        <div class="quantitybtn">
                            <div class="btn">-</div>
                            <div class="btn">1000</div>
                            <div class="btn">+</div>
                        </div>
                    </div>

                    <div class="format"> 
                        <a href="./CART_ISI.html"><div class="addtochart">Add to Cart</div></a>
                    </div>

                    <div class="text3">
                        <div class="isitext3">Sling bag</div>
                        <div class="isitext3">Tas model sling bag, dengan bahan Cordura, dan tali yang bisa diatur ketinggiannya agar membuat nyaman ketika digunakan. Serta Pocket untuk handphone.</div>
                    </div>
                    
                    <div class="logo-sosmed">
                        <i class="fa-brands fa-facebook-f"></i>
                        <p>Share</p>
                        <i class="fa-brands fa-twitter"></i>
                        <p> Tweet</p>
                        <i class="fa-solid fa-link"></i>
                        <p>Link</p>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="footer">
        <div class="row">
            <div class="footer-content">
                <img src="../ASET/LOGOBIRU.png" alt="">
            </div>
            <div class="footer-content">
                <h3>CAN WE HELP YOU?</h3>
                <p>Contact Us</p>
                <p>Size Guide</p>
                <p>How to Shop</p>
                <p>FAQ</p>
                <p>Return Policy</p>
                <p>Terms and Conditions</p>
                <p>Terms of size</p>
                <p>Refund Policy</p>
            </div>
            <div class="footer-content">
                <h3>MAIN MENU</h3>
                <p>HOME<p>
                <p>SHOP<p>
                <p>THE SEX PISTOL EDITION<p>
                <p>MAGAZINE<p>
                <br>
            </div>
            <div class="footer-content">
                <h3>SIGN UP AND SAVE</h3>
                <p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>
                <div class="email-box">
                    <div class="mail">
                        <i class="fa-solid fa-envelope"></i>
                    <a href="./Register.html">Enter your email</a><br>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>